# Virtual environment
.venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables (if you add them later)
.env

# Build artifacts
dist/
build/
*.egg-info/


# some other testing projects
